$--firts-blue: #00249C;
$--second-blue: #40CEE4;
$--frits-grey: #C5C5C5;
$--firts-red: #C6007E;
$--second-red: #E280BE;

$--white: #FFFFFF;
$--black-tr: #00000025;

$--sm: 14px;
$--md: 16px;
$--lg: 18px;
