$--firts-blue: #00249C;
$--second-blue: #40CEE4;

$--frits-grey: #C5C5C5;
$--firts-red: #C6007E;
$--second-red: #E280BE;

$--white: #FFFFFF;
$--black-tr: #00000025;

$--sm: 12px;
$--md: 14px;
$--lg: 16px;
$--ul-lg: 18px;

$linear-gradient: linear-gradient(180deg, rgba(198, 0, 126, 1) 44%, rgba(226, 128, 190, 1) 100%);

@mixin responsive-font-size($size) {
    @if $size ==sm {
        font-size: $--sm;
    }

    @else if $size ==md {
        font-size: $--md;
    }

    @else if $size ==lg {
        font-size: $--lg;
    }

    @else if $size ==ul-lg {
        font-size: $--ul-lg;
    }

    @media (max-width: 560px) {
        @if $size ==sm {
            font-size: 8px;
        }

        @else if $size ==md {
            font-size: 10px;
        }

        @else if $size ==lg {
            font-size: 12px;
        }

        @else if $size ==ul-lg {
            font-size: 14px;
        }
    }
}